// custom imports //////////////////////////////////////////////////////////////////////////////////////////////////////
// fonts
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,500,700');

// custom classes //////////////////////////////////////////////////////////////////////////////////////////////////////
.has-bg-img1 {
  background-image: url("../images/floral.jpeg");
  background-size: cover;
}

// custom variables ////////////////////////////////////////////////////////////////////////////////////////////////////
// fonts
$family-sans-serif: "Karla", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
$family-secondary: "Rubik", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
// navbar
$navbar-item-img-max-height: 5.00rem;
$navbar-height: 5.00rem;

// bulma import ////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "node_modules/bulma/bulma";

// extensions //////////////////////////////////////////////////////////////////////////////////////////////////////////
// navbar
@include until($tablet) {
  .navbar-menu {
    // display
    display: block;
    opacity: 0;
    // position
    position: absolute; /* or float: left; width: 100%;*/
    left: 0;
    right: 0;
    // transform
    transform: translateY(-50%);
    transition: all .4s ease-in-out;
    pointer-events: none;
  }
  .navbar-menu.is-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}
